<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Studio Watch App Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>StudioWatchComplicationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>studio watch app Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>studio.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>widgetstudioExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01BAB7D12FBDBD42002D9CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01BAB7E32FBDBDE8002D9CC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01CF6C8A2FE54A9400C1B37C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01CF6CAF2FE54B4700C1B37C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01CF6CCA2FE54B8800C1B37C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
